#modal-box {
    position: absolute;
    background-color: white;
    width: 400px;
    left: 50%;
    top : 50%;
    margin-top : -30vh;
    margin-left: -200px;
    border-radius: 20px;
    height: 60vh;
    display: none;
    z-index: 2;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

.modal-icon {
    width: 60%;
    vertical-align: middle;
}

#modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-icon:hover {
    content: url(https://cdn-icons-png.flaticon.com/512/1827/1827314.png);
    cursor: pointer;
}

.alarm p {
    width: 90%;
    margin: auto;
    vertical-align: middle;
}

#close-modal {
    margin: 5vh auto;
    background: #c8c8c8;
    border-radius: 32px;
    text-align: center;
    color: #fff;
    min-width: 80px;
    height: 32px;
    border: none;
    cursor: pointer;

}

#close-modal:hover {
    background-color: #fcdbab;
    color: black;
}

.alarm {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin: auto;
}

.alarm img {
    width: 10%;
    /* margin-right : auto 10px auto 0; */
    margin: auto;
}
