/*폰트*/
* {
    font-family: 'Noto Sans KR', sans-serif;
}

.real-upload {
    display: none;
}

fieldset{
    display: inline-block;
    direction: rtl;
    border: 0;
    width : 100%;
    text-align: center;
}
input[type=radio]{
    display: none;
}
label{
    cursor: pointer;
    font-size : 2em;
    color : transparent;
    text-shadow : 0 0 0 #cccccc;
}

label:hover{
    text-shadow : 0 0 0 #fcdbab;
}
label:hover ~ label{
    text-shadow : 0 0 0 #fcdbab;
}
input[type=radio]:checked ~ label{
    text-shadow : 0 0 0 #fcdbab;
}

textarea {
    padding : 10px;
    width: 90%;
    height: 20vh;
    margin: 25px auto;
    display: block;
    border-radius: 10px;
}
#star{
    width : 90%;
    margin : 25px auto 0 auto;
}
.review-content-box{
    padding-bottom:50px;
}
.buttons {
    display: flex;
    margin: 4vh auto;
    width: 50%;
}

button {
    margin: auto;
    display: block;
    min-width: 80px;
    height: 32px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #c8c8c8;
    border-radius: 32px;
}

button:hover {
    background-color: #fcdbab;
    color: black;
}

/*스크롤 스타일*/
.root::-webkit-scrollbar {
    width: 4px;
}

.root::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
}

.root::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

html {
    overflow: hidden;
}

body {
    position: relative;
    background-color: #FFFAE7;
    margin: auto;
}

.root {
    position: relative;
    height: 94vh;
    height: var(--vh);
    width: 100%;
    left: 50%;
    margin-bottom: 6vh;
    background-color: white;
    transform: translate(-50%, 0%);
    overflow: auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
}

.root_block {
    margin-top: 48px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: white;
    padding: 0px 14px 0px 14px;
    box-sizing: border-box;
}

.header>div>div {
    cursor: pointer;
}

.header-logo {
    margin-right: 10px;
}

.header>div>form {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 18px;
    background-color: rgb(239, 239, 239);
}

.header>div>form>input {
    background: transparent;
    height: 30px;
    border: none;
    outline: none;
    width: 100%;
    padding-top: 3px;
}

.nav-wrap {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.nav-bar {
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(0 0 0 / 5%);
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.nav-bar>a {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

/* @media (min-width: 575px) { */
@media (min-width: 768px) {
    .root {
        width: 500px;
    }

    .nav-wrap>div {
        max-width: 500px;
        margin: 0 auto;
    }

    .header>div {
        max-width: 500px;
        margin: 0 auto;
    }

    .test {
        margin-top: 48px;
    }
}


.conta {
    margin: 0;
    width: 250px;
    height: 250px;
}

.slide {
    width: 250px;
    height: 100%;
    display: flex;
}

/* .slide * {display: inline-block;} */
.toleft,
.toright {
    width: 10%;
    text-align: center;
    padding-top: 5em;
    cursor: pointer;
}

.toleft {
    float: left;
}

.toright {
    float: right;
}

.content {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
}

.slides {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    padding: 0;
}

.slides img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.first-img,
.second-img,
.third-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/*메인시작*/
/* 브라우저 마진과 패딩 리셋 */
* {
    margin: 0;
    padding: 0;
}

/* INPUT 가리기 */
.section [id*="slide"] {
    display: none;
}

/* 슬라이드 영역 - max-width 크기를 조절해주면 됩니다*/
.section .slidewrap {
    max-width: 1200px;
    max-height: 260px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.section .slidelist>li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    transition: all .5s;
}

.section .slidelist>li>a {
    display: block;
    position: relative;
}

/* 좌우로 넘기는 LABEL버튼에 대한 스타일 */
.section .slide-control {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.section .slide-control label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slide-control .left {
    left: -20px;
    background: url('/images/icon/left.png') center center / 50% no-repeat;
}

.section .slide-control .right {
    right: -20px;
    background: url('/images/icon/right.png') center center / 50% no-repeat;
}

.section .slide-control [class*="control"] {
    display: none;
}

/* INPUT이 체크되면 변화값이 li까지 전달되는 스타일 */
.section [id="slide01"]:checked~.slidewrap .slidelist>li {
    transform: translateX(0%);
}

.section [id="slide02"]:checked~.slidewrap .slidelist>li {
    transform: translateX(-100%);
}

.section [id="slide03"]:checked~.slidewrap .slidelist>li {
    transform: translateX(-200%);
}

/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.section [id="slide01"]:checked~.slidewrap .control01 {
    display: block;
}

.section [id="slide02"]:checked~.slidewrap .control02 {
    display: block;
}

.section [id="slide03"]:checked~.slidewrap .control03 {
    display: block;
}

.alert-danger {
    text-align: center;
    margin-top: 25px;
    font-size: 13px;
    color:#FF7878;
    display: none;
}

.alert-image {
    text-align: center;
    margin-top: 25px;
    font-size: 13px;
    color:#000000;
}